<footer class="footer">
    <!--App Download Section-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <img class="app_right" style="width: 80%;height: auto;" src="/static/assets/img/appdownload1.png"
                     alt=""/>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <h2 class="text-dark">How Download the app?</h2>
                <h5 class="text-darl m-top-20">Just download the app from
                    the store.
                    Simple, nice and user-friendly application of
                    weather monitoring.
                    Only relevant and useful information.</h5>
                <div class="download_app m-top-30">
                    <a href=""><img src="/static/assets/img/appstor.png"
                                    alt=""/></a>
                    <a href=""><img
                            src="/static/assets/img/googleplay.png"
                            alt=""/></a>
                </div>
            </div>
            <div class="col-sm-3"></div>
        </div>
        <div class="row">
            <div>
                <nav class="float">
                    <ul>

                        <li>
                            <a target="_blank" rel="noopener noreferrer">
                                Monitoring PFA Project
                            </a>
                        </li>

                    </ul>
                </nav>
            </div>
        </div>
    </div>

</footer>
