<html>
<head>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>PFA Project IOT</title>
</head>
<body>
{% block content %}
    <div style="Margin:0;box-sizing:border-box;color:#959595;font-family:intel-clear,Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;line-height:25px;margin:0;min-width:100%;padding:0;text-align:left;width:100%!important;background:#d7d7d7">
        <table class="m_1623694461340937913body"
               style="Margin:0;background:#d7d7d7;border-bottom:0;border-collapse:collapse;border-spacing:0;color:#959595;font-family:intel-clear,Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;height:100%;line-height:25px;padding:0;text-align:left;vertical-align:top;width:100%">
            <tbody>
            <tr style="padding:0;border:0 solid transparent;text-align:center;vertical-align:top;border-collapse:collapse;background-color:transparent">
                <td style="margin:0;padding:0;border:0 solid transparent;text-align:center;color:rgb(85,85,84);line-height:20px;font-family:Arial,Helvetica,sans-serif;font-size:20px;font-weight:400;vertical-align:top;border-collapse:collapse!important;background-color:transparent"
                    height="20">&nbsp;
                </td>
            </tr>

            <tr>
                <td style="Margin:0;border-collapse:collapse!important;color:#959595;font-family:intel-clear,Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;line-height:25px;padding:0;text-align:left;vertical-align:top;word-wrap:break-word"
                    valign="top" align="center">
                    <div style="min-width:0!important;width:100%; text-align: center;">
                        <table class="m_1623694461340937913container"
                               style="Margin:auto;background:#d7d7d7;border-bottom:0;border-collapse:collapse;border-spacing:0;float:none;padding:0;text-align:center;vertical-align:top;width:670px"
                               cellspacing="0" cellpadding="0" border="0" align="center">
                            <tbody>
                            <tr style="padding:0;text-align:left;vertical-align:top">
                                <td style="Margin:0;border-collapse:collapse!important;color:#959595;font-family:intel-clear,Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;line-height:25px;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
                                    <table class="m_1623694461340937913body"
                                           style="Margin:0;background:#ffffff;border-bottom:0;border-collapse:collapse;border-spacing:0;color:#555555;display:table;font-family:intel-clear,Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;height:100%;line-height:25px;padding:0;text-align:left;vertical-align:top;width:100%"
                                           cellspacing="0" cellpadding="0" border="0">
                                        <tbody>
                                        <tr style="padding:0;text-align:left;vertical-align:top">
                                            <th class="m_1623694461340937913small-12 m_1623694461340937913columns"
                                                style="Margin:auto;color:#555555;font-family:intel-clear,Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;line-height:25px;padding:0;padding-bottom:15px;padding-left:30px;padding-right:30px;padding-top:15px;text-align:left;width:640px">
                                                <table style="border-bottom:0;border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                                    <tbody>
                                                    <tr style="padding:0;text-align:left;vertical-align:top">
                                                        <th style="Margin:0;color:#555555;font-family:intel-clear,Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;line-height:25px;padding:0;text-align:left">

                                                            <h2 style="color:#003c71;font-family:intel-clear,Helvetica,Arial,sans-serif;font-size:18px;font-weight:400;line-height:23px;margin: 0 0 5px;padding:0;text-align:left;text-transform:uppercase;word-break:keep-all;word-wrap:none">
                                                                <b>remerciemet : pfa project</b>
                                                            </h2>
                                                            <p style="color:#003c71;font-family:intel-clear,Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;line-height:23px;margin: 0 0 5px;padding:0;text-align:left;word-break:keep-all;word-wrap:none">
                                                                PFA MONITORING IOT PROJECT
                                                            </p>
                                                        </th>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </th>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <table class="m_1623694461340937913body m_1623694461340937913collapse"
                                           style="Margin:0;background:#0071c5;border-bottom:0;border-collapse:collapse;border-spacing:0;color:#959595;display:table;font-family:intel-clear,Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;height:100%;line-height:25px;margin:0;padding:0;text-align:left;vertical-align:top;width:100%"
                                           cellspacing="0" cellpadding="0" border="0">
                                        <tbody>
                                        <tr style="padding:0;text-align:left;vertical-align:top">
                                            <th class="m_1623694461340937913small-12 m_1623694461340937913columns"
                                                style="Margin:auto;font-family:intel-clear,Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;line-height:23px;padding:0!important;text-align:left;width:335px"
                                                valign="middle">
                                                <table style="border-bottom:0;border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                                    <tbody>
                                                    <tr style="padding:0;text-align:left;vertical-align:top">
                                                        <th style="Margin:0;color:#959595;font-family:intel-clear,Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;line-height:23px;margin:0;padding:0;text-align:left">
                                                            <table class="m_1623694461340937913callout"
                                                                   style="Margin-bottom:0;border-bottom:0;border-collapse:collapse;border-spacing:0;margin-bottom:0;padding:0;text-align:left;vertical-align:top;width:100%"
                                                                   cellspacing="0" cellpadding="0" border="0">
                                                                <tbody>
                                                                <tr style="padding:0;text-align:left;vertical-align:top">
                                                                    <th style="Margin:0;background:0;border:none;color:#959595;font-family:intel-clear,Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;line-height:24px;margin:0;padding:30px;text-align:left;width:100%">
                                                                        <h2 style="Margin:0;Margin-bottom:15px;color:#fefefe;font-family:intel-clear,Helvetica,Arial,sans-serif;font-size:18px;font-weight:400;line-height:23px;margin:0;margin-bottom:15px;padding:0;text-align:left;word-break:keep-all;word-wrap:none">
                                                                            Dear customer <b>{{ user }}</b>, </h2>
                                                                        <p style="Margin:0;Margin-bottom:15px;color:#ffffff;font-family:intel-clear,Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;line-height:25px;margin:0;margin-bottom:15px;padding:0;text-align:left;word-break:keep-all;word-wrap:none">
                                                                        <span style="color: #ffffff; ">
                                                                            Hi!
                                                                            <sup style="line-height:14px">®</sup>
                                                                            <br>
                                                                            We are PFA project team.
                                                                            We want to say thanks for choosing our services among others,
                                                                            we will ensure that you will not regret it.
                                                                            Our services are extremly simple and effiecent! And in case of problems,
                                                                            you can contact us via this channel and we will respond for you in time! <br>
                                                                            <br>
                                                                            We look forward to working with you very soon!<br>
                                                                            <br>
                                                                            We wish you a good day.
                                                                        </span>
                                                                            <br>
                                                                            <b>PFA project team</b>
                                                                        </p>
                                                                    </th>
                                                                    <th
                                                                            style="Margin:0;color:#959595;font-family:intel-clear,Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;line-height:25px;margin:0;padding:0!important;text-align:left;width:0">
                                                                        <br>
                                                                    </th>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </th>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </th>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <table class="m_1623694461340937913body"
                                           style="Margin:0;background:#ffffff;border-bottom:0;border-collapse:collapse;border-spacing:0;color:#555555;display:table;font-family:intel-clear,Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;height:100%;line-height:25px;margin:0;padding:0;text-align:left;vertical-align:top;width:100%"
                                           cellspacing="0" cellpadding="0" border="0">
                                        <tbody>
                                        <tr style="padding:0;text-align:left;vertical-align:top">
                                            <th class="m_1623694461340937913small-12 m_1623694461340937913columns"
                                                style="Margin:0
auto;color:#555555;font-family:intel-clear,Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;line-height:25px;margin:0
auto;padding:0;padding-bottom:30px;padding-left:30px;padding-right:30px;padding-top:30px;text-align:left;width:640px">
                                                <table style="border-bottom:0;border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                                    <tbody>
                                                    <tr style="padding:0;text-align:left;vertical-align:top">
                                                        <th style="Margin:0;color:#555555;font-family:intel-clear,Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;line-height:25px;padding:0;text-align:left">
                                                            <h3 class="m_1623694461340937913small-text-center"
                                                                style="color:#555555;font-family:intel-clear,Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:24px;margin: 0 0 5px;padding:0;text-align:left;word-break:keep-all;word-wrap:none;padding-left:0!important">
                                                                <strong>
                                                                    First of all, be sure to change:
                                                                </strong>
                                                            </h3>
                                                            <ul style="margin-bottom:20px;margin-top:15px;word-break:keep-all;word-wrap:none;border-style:none;color:#555555"
                                                                type="disc">
                                                                <li>Add <a
                                                                        style="text-decoration:underline;color:#0071c5;font-family:intel-clear,Helvetica,Arial,sans-serif;font-weight:400;line-height:23px"
                                                                        href="mailto:pfa.project.test@gmail.com"
                                                                        target="_blank" moz-do-not-send="true">pfa.project.test@gmail.com</a>
                                                                    to your approved senders list
                                                                </li>
                                                            </ul>
                                                        </th>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </th>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <table style="background:#003c71;border-bottom:0;border-collapse:collapse;border-spacing:0;display:table;padding:0;text-align:left;vertical-align:top;width:100%"
                                           cellspacing="0" cellpadding="0" border="0">
                                        <tbody>
                                        <tr style="padding:0;text-align:left;vertical-align:top">
                                            <th class="m_1623694461340937913small-12 m_1623694461340937913columns"
                                                style="Margin:0auto;color:#555555;font-family:intel-clear,Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;line-height:25px;padding: 15px 30px;text-align:center;width:640px">
                                                <table style="border-bottom:0;border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                                    <tbody>
                                                    <tr style="padding:0;text-align:left;vertical-align:top">
                                                        <th style="Margin:0;color:#555555;font-family:intel-clear,Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;line-height:25px;margin:0;padding:0;text-align:center">
                                                            <table style="border-bottom:0;border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%"
                                                                   cellspacing="0"
                                                                   cellpadding="0" border="0">
                                                                <tbody>
                                                                <tr style="padding:0;text-align:left;vertical-align:top">
                                                                    <td style="Margin:0;border-collapse:collapse!important;color:#555555;font-family:intel-clear,Helvetica,Arial,sans-serif;font-size:30px;font-weight:400;line-height:30px;padding:0;text-align:left;vertical-align:top;word-wrap:break-word"
                                                                        height="30px">&nbsp;
                                                                    </td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </th>
                                                        <th
                                                                style="Margin:0;color:#555555;font-family:intel-clear,Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;line-height:25px;margin:0;padding:0!important;text-align:center;width:0">
                                                            <br>
                                                        </th>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </th>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>

            <tr style="padding:0;border:0 solid transparent;text-align:center;vertical-align:top;border-collapse:collapse;background-color:transparent">
                <td style="margin:0;padding:0;border:0 solid transparent;text-align:center;color:rgb(85,85,84);line-height:20px;font-family:Arial,Helvetica,sans-serif;font-size:12px;font-weight:400;vertical-align:top;border-collapse:collapse!important;background-color:transparent"
                    valign="top" align="center">
                    <div>
                        <table style="padding:0;border:0 solid transparent;width:100%;text-align:center;vertical-align:top;border-collapse:collapse;max-width:600px!important;border-spacing:0;background-color:transparent"
                               cellspacing="0" cellpadding="0" align="center">
                            <tbody>
                            <tr style="padding:0;border:0 solid transparent;text-align:center;vertical-align:top;border-collapse:collapse;background-color:transparent">
                                <td style="margin:0;padding:0;border:0 solid transparent;text-align:center;color:rgb(85,85,84);line-height:20px;font-family:Arial,Helvetica,sans-serif;font-size:12px;font-weight:400;vertical-align:top;border-collapse:collapse!important;background-color:transparent">
                                    <table class="m_1623694461340937913collapse"
                                           style="padding:0;border:0 solid transparent;width:100%;text-align:center;vertical-align:top;border-collapse:collapse;border-spacing:0;background-color:transparent">
                                        <tbody>
                                        <tr style="padding:0;border:0 solid transparent;text-align:center;vertical-align:top;border-collapse:collapse;background-color:transparent">
                                            <th class="m_1623694461340937913small-12 m_1623694461340937913columns"
                                                style="margin:0 auto;padding:0 0 20px;border:0 solid transparent;width:680px;text-align:center;color:rgb(85,85,84);line-height:20px;font-family:Arial,Helvetica,sans-serif;font-size:12px;font-weight:400;border-collapse:collapse;background-color:transparent">
                                                <table style="padding:0;border:0 solid transparent;width:100%;text-align:left;vertical-align:top;border-collapse:collapse;border-spacing:0;background-color:transparent">
                                                    <tbody>
                                                    <tr style="padding:0;border:0 solid transparent;text-align:center;vertical-align:top;border-collapse:collapse;background-color:transparent">
                                                        <th style="margin:0;padding:0;border:0 solid transparent;text-align:center;color:rgb(85,85,84);line-height:20px;font-family:Arial,Helvetica,sans-serif;font-size:12px;font-weight:400;border-collapse:collapse;background-color:transparent">
                                                            <table style="padding:0;border:0 solid transparent;width:100%;text-align:center;vertical-align:top;border-collapse:collapse;border-spacing:0;background-color:transparent">
                                                                <tbody>
                                                                <tr style="padding:0;border:0 solid transparent;text-align:center;vertical-align:top;border-collapse:collapse;background-color:transparent">
                                                                    <td style="margin:0;padding:0;border:0 solid transparent;text-align:center;color:rgb(85,85,84);line-height:20px;font-family:Arial,Helvetica,sans-serif;font-size:20px;font-weight:400;vertical-align:top;border-collapse:collapse!important;background-color:transparent"
                                                                        height="20">&nbsp;
                                                                    </td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                            <p>
                                                                PIP, PFA IOT PROJECT 2020-2021., ENIS Route
                                                                SOUKRA km 4.5, Sfax, TN.
                                                                <a href="https://pfa-project99.herokuapp.com"
                                                                   style="color:rgb(0,174,239);font-family:Arial,Helvetica,sans-serif;font-weight:400;text-decoration:none"
                                                                   target="_blank"
                                                                   moz-do-not-send="true">
                                                                    PIP
                                                                </a>
                                                            </p>
                                                        </th>
                                                        <td style="margin:0;padding:0;border:0
                                          solid
transparent;text-align:center;color:rgb(85,85,84);line-height:10px;font-family:Arial,Helvetica,sans-serif;font-size:10px;font-weight:400;vertical-align:top;border-collapse:collapse!important;background-color:transparent"
                                                            height="10">&nbsp;
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </th>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock content %}
</body>
</html>
